<!-- Features section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/feature1-watermark.webp` | relURL }}" width="200em"/>
        <h2 class="h2">Watermark <small class="d-none">✍️</small></h2>
        <p>Digitally and visually watermarks downloaded files with the identity of the downloader, detering propagation.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/feature2-custom-email.webp` | relURL }}" width="200em"/>
        <h2 class="h2">Customized Emails <small class="d-none">⚙️</small></h2>
        <p>Students receive customized emails with requested solutions as well as course policies that motivates why respect for integrity supports their learning.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/feature3-automation.webp` | relURL }}" width="200em"/>
        <h2 class="h2">Roster Integration <small class="d-none">🪪</small></h2>
        <p>Given a CSV or Google Sheets with student emails, can automatically send customized reports with links to all solutions.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Copy-Paste Protection <small class="d-none">🔐</small></h2>
        <p>Multiple layers of protection work together to prevent most approaches to copy-pasting.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Free and Sustainable <small class="d-none">♻️</small></h2>
        <p>Host and run everything from GitHub using GitHub Pages, both of which are free forever.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Easy-to-Use for Everyone <small class="d-none">🚀</small></h2>
        <p>From being <tt>pip</tt>-installable to having clear instructions for students, everything is designed to be easy.</p>
    </div>
</div>
